body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px;
    /* margin-right: 30px; */
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px; /* Adjust font size */
}

.nav-links a .new {
    font-size: 10px; /* Adjust smaller font size for 'new' */
    color: #ff3f6c; /* Set color to pink */
}

.search-container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 50%;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.search-bar input[type="text"] {
    margin-left: 3px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #e6e7ebfa; /* Light ochre background */
    transition: background-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
    background-color: white; /* Change to white on focus */
}

.search-bar button {
    left: -4px;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 5px;
}

.profileimg {
	height: 28px;
	width: 28px;
	/* border: 1.5px solid #f5f6fa; */
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icons div {
    margin-left: 18px;
    text-align: center;
    cursor: pointer;
}

.icons i {
    font-size: 18px; /* Adjust icon size */
    color: #555; /* Icon color */
}

.icons span {
    display: block;
    font-size: 12px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .navbar {
        justify-content: space-between;
    }

    .search-container {
        max-width: 100%;
    }

    .search-bar {
        max-width: 300px;
    }
}

.background-section {
    background: url('/images/Background.png') no-repeat center center fixed;
    background-size: cover;
    margin-top: 70px;
}

.wishlist-section {
    padding: 15px 20px 25px;
    max-width: 800px;
    border-radius: 15px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.wishlist-section h2 {
    color: #ff6b81; /* Pink */
    text-align: center;
    font-size: 70px;
}

.wishlist-section span {
    color: #000000;
    /* text-align: center; */
    /* font-family: Brush Script MT, cursive; */
    margin-top: -20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.instructions-banner {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.instruction {
    text-align: center;
    opacity: 0;
    /* transform: translateY(20px); */
    transition: opacity 0.5s, transform 0.5s;
}

.instruction {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ebc9d9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.instruction img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.move-from-left {
    transform: translateX(-100px);
}

.move-from-right {
    transform: translateX(100px);
}

.instruction.visible {
    opacity: 1;
    transform: translateX(0);
}

.instruction h4 {
    color: #ee2554; /* Pink */
}

.instruction p {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

.instruction p2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.wishlist-item {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.wishlist-item img {
    max-width: 190px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-details {
    color: #333;
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff6b81; /* Pink */
}

.item-details p {
    margin-bottom: 10px;
}

.remove-btn {
    background-color: #ff6b81; /* Pink */
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #fdcb6e; /* Yellow */
}